In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [2]:
df=pd.read_csv('OUT 1-1 data(processed missing values).csv')
df

,CountryName,CountryCode,Population growth,Total population,Area (sq. km),International Visitors,Coronavirus Cases
0,Brazil,BRA,0.817556,2.076529e+08,8.358140e+06,B,59324
1,Switzerland,CHE,1.077221,8.372098e+06,3.951600e+04,B,29061
2,Germany,DEU,1.193867,8.266768e+07,3.489000e+05,A,156727
3,Denmark,DNK,0.834638,4.998162e+06,4.226200e+04,B,8575
4,Spain,ESP,-0.008048,4.644396e+07,5.002100e+05,A,223759
5,France,FRA,0.407491,6.689611e+07,5.475570e+05,A,161488
6,Japan,JPN,-0.115284,1.269945e+08,3.645600e+05,B,13231
7,Greece,GRC,-0.687543,1.074674e+07,1.289000e+05,C,2506
8,Iran,IRN,1.148789,8.027743e+07,1.628760e+06,D,90481
9,Kuwait,KWT,2.924206,4.052584e+06,3.112933e+04,C,3075
10,Morocco,MAR,0.046349,3.527679e+07,4.463000e+05,C,4047
11,Nigeria,NGA,2.619034,1.859896e+08,9.107700e+05,D,1182
12,Qatar,QAT,3.495070,2.569804e+06,1.161000e+04,B,10287
13,Sweden,SWE,0.408105,9.903122e+06,4.073100e+05,C,18640
14,India,IND,1.148215,1.324171e+09,2.973190e+06,B,26917

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CountryName             15 non-null     object
 1   CountryCode             15 non-null     object
 2   Population growth       15 non-null     float64
 3   Total population        15 non-null     float64
 4   Area (sq. km)           15 non-null     float64
 5   International Visitors  15 non-null     object
 6   Coronavirus Cases       15 non-null     int64
dtypes: float64(3), int64(1), object(3)
memory usage: 968.0+ bytes

In [4]:
international_visitors=LabelEncoder()
df['International Visitors']=international_visitors.fit_transform(df['International Visitors'])
df

,CountryName,CountryCode,Population growth,Total population,Area (sq. km),International Visitors,Coronavirus Cases
0,Brazil,BRA,0.817556,2.076529e+08,8.358140e+06,1,59324
1,Switzerland,CHE,1.077221,8.372098e+06,3.951600e+04,1,29061
2,Germany,DEU,1.193867,8.266768e+07,3.489000e+05,0,156727
3,Denmark,DNK,0.834638,4.998162e+06,4.226200e+04,1,8575
4,Spain,ESP,-0.008048,4.644396e+07,5.002100e+05,0,223759
5,France,FRA,0.407491,6.689611e+07,5.475570e+05,0,161488
6,Japan,JPN,-0.115284,1.269945e+08,3.645600e+05,1,13231
7,Greece,GRC,-0.687543,1.074674e+07,1.289000e+05,2,2506
8,Iran,IRN,1.148789,8.027743e+07,1.628760e+06,3,90481
9,Kuwait,KWT,2.924206,4.052584e+06,3.112933e+04,2,3075
10,Morocco,MAR,0.046349,3.527679e+07,4.463000e+05,2,4047
11,Nigeria,NGA,2.619034,1.859896e+08,9.107700e+05,3,1182
12,Qatar,QAT,3.495070,2.569804e+06,1.161000e+04,1,10287
13,Sweden,SWE,0.408105,9.903122e+06,4.073100e+05,2,18640
14,India,IND,1.148215,1.324171e+09,2.973190e+06,1,26917

In [5]:
encoder=OneHotEncoder()
encoded_international_visitors=pd.DataFrame(encoder.fit_transform(df[['International Visitors']]).toarray())
encoded_international_visitors.rename(columns={0:'A',1:'B',2:'C',3:'D'},inplace=True)
encoded_international_visitors

      A    B    C    D
0   0.0  1.0  0.0  0.0
1   0.0  1.0  0.0  0.0
2   1.0  0.0  0.0  0.0
3   0.0  1.0  0.0  0.0
4   1.0  0.0  0.0  0.0
5   1.0  0.0  0.0  0.0
6   0.0  1.0  0.0  0.0
7   0.0  0.0  1.0  0.0
8   0.0  0.0  0.0  1.0
9   0.0  0.0  1.0  0.0
10  0.0  0.0  1.0  0.0
11  0.0  0.0  0.0  1.0
12  0.0  1.0  0.0  0.0
13  0.0  0.0  1.0  0.0
14  0.0  1.0  0.0  0.0

In [6]:
new_df=df.join(encoded_international_visitors)
new_df.drop(['International Visitors','D'],inplace=True,axis=1)
new_df

,CountryName,CountryCode,Population growth,Total population,Area (sq. km),Coronavirus Cases,A,B,C
0,Brazil,BRA,0.817556,2.076529e+08,8.358140e+06,59324,0.0,1.0,0.0
1,Switzerland,CHE,1.077221,8.372098e+06,3.951600e+04,29061,0.0,1.0,0.0
2,Germany,DEU,1.193867,8.266768e+07,3.489000e+05,156727,1.0,0.0,0.0
3,Denmark,DNK,0.834638,4.998162e+06,4.226200e+04,8575,0.0,1.0,0.0
4,Spain,ESP,-0.008048,4.644396e+07,5.002100e+05,223759,1.0,0.0,0.0
5,France,FRA,0.407491,6.689611e+07,5.475570e+05,161488,1.0,0.0,0.0
6,Japan,JPN,-0.115284,1.269945e+08,3.645600e+05,13231,0.0,1.0,0.0
7,Greece,GRC,-0.687543,1.074674e+07,1.289000e+05,2506,0.0,0.0,1.0
8,Iran,IRN,1.148789,8.027743e+07,1.628760e+06,90481,0.0,0.0,0.0
9,Kuwait,KWT,2.924206,4.052584e+06,3.112933e+04,3075,0.0,0.0,1.0
10,Morocco,MAR,0.046349,3.527679e+07,4.463000e+05,4047,0.0,0.0,1.0
11,Nigeria,NGA,2.619034,1.859896e+08,9.107700e+05,1182,0.0,0.0,0.0
12,Qatar,QAT,3.495070,2.569804e+06,1.161000e+04,10287,0.0,1.0,0.0
13,Sweden,SWE,0.408105,9.903122e+06,4.073100e+05,18640,0.0,0.0,1.0
14,India,IND,1.148215,1.324171e+09,2.973190e+06,26917,0.0,1.0,0.0

In [7]:
new_df.to_csv('OUT 1-2 data(categorial values encoded).csv', index=False)